<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /fluxa_app/

    # Jangan rewrite jika sudah di folder public
    RewriteCond %{REQUEST_URI} !^/fluxa_app/public/

    # Arahkan semua request ke public/ secara internal (URL tidak berubah)
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
